@charset "utf-8";


.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    background:snow;
    font-size: 15px;
    padding-bottom: 20px;
}

header {
    position:fixed;
    top:0;
    left:0;
    height:0px;
    margin-left:auto;
    margin-right:auto;
    background:snow;
    width:100%;
    text-align:center;
}

header h1,h2 {
    font-weight:bold;
    font-size: 120%;
    line-height:1.0em;
    padding:10px;
}

header h1{
    font-size:30px;
    color:darkslategrey;

}
header h2 {
    font-size:18px;
    color:#234;
}
.torzs {
    float:top;
    margin-top:50px;
    margin-left:0px;
}

.warning {
    color: red;
    font-size:24px;
}
.editor {
    line-height: 200%;
}

.editor label {
    min-width:180px;
    display: inline-block;
}

.editor input[type="image"] {
    height: 15px;
    width:15px;
    margin: 10px;
    padding: 0px;
}
.editor textarea {
    display:inline-block;
    vertical-align: middle;
}
.editor select {
    display:inline-block;
    vertical-align: middle;
}

.show_avatar img {
    padding: 0px;
    transition: transform .5s;
    width: 20px;
    height: 26px;
    margin: 2px;
}

.show_avatar img:hover {
    -ms-transform: scale(5); /* IE 9 */
    -webkit-transform: scale(5); /* Safari 3-8 */
    transform: scale(5); 
}

.show_card {
    height:130px;
    width:100px;
}

.member_id input[type="number"] {
    width:50px;
    margin: 0px;
    padding: 0px;
}

.member {
    line-height: 200%;
}
.member button {
    background: transparent;
    margin: 0px;
}
.member button img {
    height: 16px;
    width:16px;
    padding: 0px;

}
.member a img {
    height: 60px;
    width:60px;
    padding: 0px;
    opacity: 0.9;
}

.member input[type="text"] {
    width: 200px;
}

.member input[type="date"] {
    width:150px;
}

.member input[type="image"] {
    height: 20px;
    width:20px;
    padding: 0px;
    margin: 0px;
}


.member label {
    width:150px;
    display: inline-block;   
}


.lists button img {
    height: 15px;
    width:15px;
    padding: 0px;
}

.lists  img {
    height: 20px;
    width:20px;
    background: transparent;
    padding: 0px;
}



.keret {
    position: relative;
    border: 2px solid #a1a1a1;
    padding: 10px 40px; 
    border-radius: 25px;
    margin: 10px;
}

button.pressed_button {
    background-color: lightgrey;
}

.kategoriak ul { 
    height: 300px; 
    overflow: auto; 
    width: 250px; 
    border: 1px solid lightgrey; 
    border-radius:5px;
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    overflow-x: hidden; 
}

.kategoriak   li { 
    margin: 0px; 
    margin-left: 10px;
    padding: 0px; 
}
.kategoriak ul.list-group.list-group-striped li:nth-of-type(odd){
    background: lightgray;
}
.kategoriak ul label {
    width:180px;
    display: inline-block;
}
.email_address {
    position:fixed;
    float:top;
    width: 300px; 
}
.email_body {
    float:left;
    margin-top:0px;
    margin-left:350px;
}

.email_address ul { 
    height: 300px; 
    overflow: auto; 
    width: 300px; 
    border: 1px solid #000; 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    overflow-x: hidden; 
}

.email_address   li { 
    margin: 0px; 
    margin-left: 10px;
    padding: 0px; 
}

.congress_address {   
    list-style-type: none;
    list-style-position: inside;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 430px; 
    width: 420px;   
    
    margin: 10px; 
    padding: 10px; 
}
.congress_address li {
    margin: 0px; 
    margin-left: 10px;
    padding: 0px; 
}
.congress_members {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 500px;
}
.congress_group {
    position: absolute;
    top: 0px;
    left: 540px;
    width: 500px;
    height: 140px;
    margin: 10px;     
}
.congress_selected {
    position: absolute;
    overflow-x: auto;
    overflow-y: auto;
    top: 140px;
    left: 540px;
    width: 500px;
    height: 340px;
    margin: 10px; 
}



.list_subclubs {
    height: 500px;
    display: block;
    overflow-y: auto;   
    overflow-x: hidden;  
    width:fit-content;

}

.list_subclubs ul {
    list-style-type: none;
    list-style-position: inside;
    margin: 0;
    padding: 0;
}
