@charset "utf-8";


body {
    background:snow;
    font-size: 15px;
}

header {
    position:fixed;
    top:0;
    left:0;
    height:0px;
    margin-left:auto;
    margin-right:auto;
    background:snow;
    width:100%;
    text-align:center;
}

header h1,h2 {
    font-weight:bold;
    font-size: 120%;
    line-height:1.0em;
    padding:10px;
}

header h1{
    font-size:30px;
    color:darkslategrey;

}
header h2 {
    font-size:18px;
    color:#234;
}

.torzs {
    float:top;
    margin-top:70px;
    margin-left:0px;
}

.control {
    position: fixed;
    height: 30px;
    top:0;
    left:0;
    margin-top:0px;
    text-align:center;
}

.control button {
    background-color: dimgray;
    color:white;
    width:120px;
    height: 40px;
    padding:5px; 
    margin:0px;
    border:2px solid #ccc; 
    text-align:center;
    vertical-align: text-top;
}
.control button:hover {
    color:yellow;
}
.sub_control {
    position:fixed;
    top:40px;
    left:0px;
    height: 30px;
    margin-left: 0px;
    text-align:center;
}
.sub_control  button {
    width:100px;
    height: 40px;
    padding:0px; 
    border:2px solid #ccc; 
    margin:0px;
    background-color: slategray;
    text-align:center;
    vertical-align: text-top;
}

.sub_control button:hover {
    color:darkblue;
}

.warning {
    color: red;
    font-size:24px;
}
.editor {
    line-height: 200%;
}
.editor button {
    background: transparent;
    margin: 0px;
}
.editor button img {
    height: 15px;
    width:15px;
    padding: 0px;
}

.editor label {
    width:180px;
    display: inline-block;   
}

.editor input[type="image"] {
    height: 15px;
    width:15px;
    margin: 10px;
    padding: 0px;
}

.show_avatar img {
  padding: 0px;
  transition: transform .5s;
  width: 20px;
  height: 26px;
  margin: 2px;
}

.show_avatar img:hover {
  -ms-transform: scale(5); /* IE 9 */
  -webkit-transform: scale(5); /* Safari 3-8 */
  transform: scale(5); 
}

.card {
    line-height: 200%;
}
.card img {
    height:260px;
    width:200px;
    padding: 0px;
    margin-left: 100px;
}
.card input[type="number"] {
    width:50px;
    margin: 0px;
    padding: 0px;
}
.card label {
    width:100px;
    display: inline-block;   
}

.member_id input[type="number"] {
    width:50px;
    margin: 0px;
    padding: 0px;
}

.member {
    line-height: 200%;
}
.member button {
    background: transparent;
    margin: 0px;
}
.member button img {
    height: 16px;
    width:16px;
    padding: 0px;

}
.member a img {
    height: 60px;
    width:60px;
    padding: 0px;
    opacity: 0.9;
}

.member input[type="text"] {
    width: 200px;
}

.member input[type="date"] {
    width:150px;
}

.member input[type="image"] {
    height: 20px;
    width:20px;
    padding: 0px;
    margin: 0px;
}


.member label {
    width:150px;
    display: inline-block;   
}
.logger_list table {
    margin:20px;
    text-align:left;
    font-size: 15px;
    border-collapse:collapse;
    border: 1px solid black;
    border-spacing : 1px;
    padding:5px;
}

.lists button   {
    background: transparent;
    margin: 0px;
}
.lists button img {
    height: 15px;
    width:15px;
    padding: 0px;
}

.lists  img {
    height: 20px;
    width:20px;
    background: transparent;
    padding: 0px;
}

.lists table {
    width: 100%;
    margin:5px;
    text-align:left;
    border-collapse:collapse;
    border: 2px solid black;
    border-spacing : 1px;
    padding:5px;

}

.lists table th {
    font-size: 18px;
    text-align: center;
    border: 1px solid black;
    background-color: lightgray;
}

.lists table td {
    font-size: 15px;
    border: 1px solid black;
}

.keret {
    position: relative;
    border: 2px solid #a1a1a1;
    padding: 10px 40px; 
    border-radius: 25px;
    margin: 10px;
}
.fees_members table {
    border: 0px;
    padding:5px;
}

.fees_members table tr td {
    font-size: 12px;
    border: 0px;
}
.fees table {
    border: 1px solid black;
    padding:5px;
}
.fees th {
    font-size: 16px;
    align-items: center;
    padding:5px;
    border: 0px;
}
.fees td {
    font-size: 12px;
    border: collaps;
    padding:5px;

}

.search input[type="radio"] {

}

.pressed_button button {
    background-color: gray;
}

.kategoriak ul { 
    height: 300px; 
    overflow: auto; 
    width: 200px; 
    border: 1px solid #000; 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    overflow-x: hidden; 
}

.kategoriak   li { 
    margin: 0px; 
    margin-left: 10px;
    padding: 0px; 
}

.email_address {
    position:fixed;
    float:top;
    width: 300px; 
}
.email_body {
    float:left;
    margin-top:0px;
    margin-left:350px;
}

.email_address ul { 
    height: 300px; 
    overflow: auto; 
    width: 300px; 
    border: 1px solid #000; 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    overflow-x: hidden; 
}

.email_address   li { 
    margin: 0px; 
    margin-left: 10px;
    padding: 0px; 
}
.congress_address ul {
    position: absolute;
    list-style-type: none;
    list-style-position: inside;
    overflow-x: hidden;
    overflow-y: auto;
    top: 100px;
    left: 0px;
    height: 300px; 
    width: 250px;   
    border: 1px solid #000; 
    margin: 10px; 
    padding: 10px; 
}
.congress_address li {
    margin: 0px; 
    margin-left: 10px;
    padding: 0px; 
}
.congress_selected {
    position: absolute;
    overflow-x: auto;
    overflow-y: auto;
    top: 100px;
    left: 320px;
    width: 700px;
    height: 300px;
    margin: 10px; 
}
.scrolled_list table {
    width:90%;
    border: 2px solid black;
    margin: 20px;
    position:absolute;   
    table-layout: fixed;
    height: 500px;
}
.scrolled_list     th, td {
    border: 1px solid black;
    font-size: 15px;
    padding: 5px;
    text-align: center;
}

.scrolled_list     thead        tr {
    display: block;
    position: relative;
}
.scrolled_list     thead        th {
    background-color: lightgray;
}
.scrolled_list     thead {
    display: table;
    overflow: auto;
    position: fixed;
    width:100%;
}

.scrolled_list     tbody {
    display: block;
    overflow-y: auto;   
    overflow-x: hidden;  
    width:100%;
}
.scrolled_list     button img {
    height: 15px;
    width:15px;
    padding: 0px;
}

.tooltip {
    position: relative;
    display: inline-block;
/*    border-bottom: 1px dotted black; */
}

.tooltip .tooltiptext {
    visibility: hidden;
    background-color: lightslategrey;
    color: black;
/*    width: 150px;*/
    text-align: left;
    border-radius: 5px;
    padding: 5px;
    overflow-x: auto;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}


